@inherits LayoutComponentBase

<div class="container">
        <div class="main">
            <div class="top-row px-4 bg-dark">
                <a href="/" class="navbar-brand mr-auto text-white-50">Contacts App</a>
            </div>

        <div class="content px-4 bg-light">
            @Body
        </div>
    </div>
</div>
